<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hm.demo.activity.PullRefreshLoadMoreActivity" />
        <activity android:name="com.hm.demo.activity.DiffUtilActivity" />
        <activity android:name="com.hm.demo.activity.BaseRecyclerViewAdapterActivity" />
        <activity android:name="com.hm.demo.activity.SlideDeleteActivity" />
        <activity android:name="com.hm.demo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hm.demo.activity.TestEditTextActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.hm.demo.activity.RvCheckBoxActivity" />
        <activity android:name="com.hm.demo.activity.RvCountDownActivity" />
        <activity android:name="com.hm.demo.activity.HeadFootActivity" />
        <activity android:name="com.hm.demo.activity.DividingLineActivity"/>
    </application>

</manifest>